.button {
    flex-shrink: 1;
    flex-grow: 1;
    align-self: stretch;
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/Lexend-VariableFont_wght.ttf?fileID=12800000&guid=2e07b0bd6dbba3447810a1577ead809e&type=3#Lexend-VariableFont_wght");
    -unity-font-style: normal;
    font-size: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 8px;
    border-right-width: 0;
    border-bottom-width: 8px;
    border-left-width: 0;
    border-left-color: rgb(56, 56, 56);
    border-right-color: rgb(56, 56, 56);
    border-top-color: rgb(56, 56, 56);
    border-bottom-color: rgb(56, 56, 56);
    background-color: rgb(66, 66, 66);
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
}

.button:hover {
    transition-duration: 0.35s;
    border-top-width: 8px;
    border-right-width: 0;
    border-bottom-width: 8px;
    border-left-width: 0;
    border-left-color: rgba(255, 255, 255, 0.15);
    border-right-color: rgba(255, 255, 255, 0.15);
    border-top-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

.button-square {
    height: 100%;
    width: 25%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(56, 56, 56);
    border-right-color: rgb(56, 56, 56);
    border-top-color: rgb(56, 56, 56);
    border-bottom-color: rgb(56, 56, 56);
    font-size: 36px;
    background-color: rgb(66, 66, 66);
}

.button-square:hover {
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgba(255, 255, 255, 0.05);
    border-right-color: rgba(255, 255, 255, 0.05);
    border-top-color: rgba(255, 255, 255, 0.05);
    border-bottom-color: rgba(255, 255, 255, 0.05);
    transition-duration: 0.35s;
}

.column {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.square-container {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
}

.column {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}

.square {
    padding-top: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.unity-base-field {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/Lexend-VariableFont_wght.ttf?fileID=12800000&guid=2e07b0bd6dbba3447810a1577ead809e&type=3#Lexend-VariableFont_wght");
    font-size: 30px;
    -unity-text-align: middle-center;
    -unity-font-style: normal;
    flex-grow: 1;
    width: auto;
}

.unity-base-popup-field {
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-left-color: rgb(106, 106, 106);
    border-right-color: rgb(106, 106, 106);
    border-top-color: rgb(106, 106, 106);
    border-bottom-color: rgb(106, 106, 106);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-grow: 1;
}

.unity-popup-field {
    border-left-color: rgb(106, 106, 106);
    border-right-color: rgb(106, 106, 106);
    border-top-color: rgb(106, 106, 106);
    border-bottom-color: rgb(106, 106, 106);
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-grow: 1;
}

.textfield-label > .unity-label {
    min-width: 24%;
    color: rgb(236, 236, 236);
}
